# Requirements for building the docs.
# The primary reason for having this is that we want to configure the
# version of Sphinx used by readthedocs.io.

Jinja2>=2.10.1
passlib>=1.7
PyYAML>=5.1
Sphinx==6.*
